:root{
    --basic-header-color: #95E1D3;
    --sc-nav-color: #F38181;
    --title-color: #333;
    --text-color: #B6B6B6;
    --text-button-color: #fff

}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    width: 1200px;
    border: 2px solid red;
}
.navigation-link{
    color: var(--basic-header-color);
    text-transform: uppercase;
}
.navigation-link:hover,
.navigation-link:focus{
    color: var(--sc-nav-color);
    
}
.slogan{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: var(--title-color);
    margin-bottom: 20px;
    text-align: right;
}
